
/*Prevent overflows */
img, embed, object, video{
    max-width: 100%;
}

/*Set proper size for tap targets*/
button {
    min-width: 48px;
    min-height: 48px;
}

* {
    box-sizing: border-box;
}

.loginbox, .ticket {
    border:1px solid #2a67ac;
    border-right:2px solid #2a67ac;
    border-bottom:3px solid #2a67ac;
    box-shadow: 2px 2px 8px rgba(42, 103, 172, 0.5);
    background:#FFFFFF;
    margin:10% auto 0 auto;
    padding:1em;
    padding-bottom: 1em;
    text-align:center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


.loginbox{
    max-width: 300px;
    margin-top: 60%;
}

.cfm-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #040A04;
}

textarea {
    box-sizing: border-box;
     width: 100%;
     min-height: 100px;
}
.nav_custom{
    display: flex;
}

.nav_username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF0D0;
 }

.navbar {
    max-width: 600px;
    margin: 0 auto;
}

.hide {  /* class for hiding elements*/
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}


/*for separating elements */
.space {
    margin-top: 10px;
    margin-bottom: 10px;
}
