
/*Prevent overflows */
img, embed, object, video{
    max-width: 100%;
}

/*Set proper size for tap targets*/
button {
    min-width: 48px;
    min-height: 48px;
}

/*For flashing error messages*/
.error_message{
    color: #FF0000;
}
.loginbox {
    border:1px solid #2a67ac;
    border-right:2px solid #2a67ac;
    border-bottom:3px solid #2a67ac;
    box-shadow: 2px 2px 8px rgba(42, 103, 172, 0.5);
    background:#FFFFFF;
    max-width: 300px;
    margin:10% auto 0 auto;
    padding:1em;
    padding-bottom: 1em;
    text-align:center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.nav_custom{
    display: flex;
}
.nav_username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF0D0;
 }

.navbar {
    max-width: 600px;
    margin: 0 auto;
}
