.ticket_element {
    /**/
}

.flash-massages {
    box-sizing: border-box;
    padding: 20px;
}


table {
    max-width: 100%;
    border-collapse: collapse;
}

th {
    background: #90B0F0;
    color: white;
    font-weight: bold;
}


/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}


td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

table, tr, td, td, td {
    font-size: 11px;
    font-family: monospace;
    max-width: 20em;
}
