.ticket_element {
    /**/
}

.table-element {

}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}


/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}


td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

table tr td+td+td {
    font-size: 100%;
    font-family: monospace;
    max-width: 20em;
}
