<!-- extend from base layout -->
{% extends "layout.html" %}

{% block my_content%}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="ticket">
                    <form method="post">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="form-group error_message">
                                {{ messages[0] }}
                            </div>
                            {% endif %}
                        {% endwith %}
                        <div class="form-group">
                            {{ form.caller.label }} : {{ form.caller }}
                        </div>

                        <div class="form-group">
                            {{ form.phone_number.label }} : {{ form.phone_number }}
                        </div>

                        <div class="form-group">
                            {{ form.gender.label }} : {{ form.gender }}
                        </div>

                        <div class="form-group">
                            {{ form.province.label }} : {{ form.province }}
                        </div>

                        <div class="form-group">
                            {{ form.district.label }} : {{ form.district }}
                        </div>

                        <div class="form-group">
                            {{ form.ward.label }} : {{ form.ward }}
                        </div>

                        <div class="form-group">
                            {{ form.partner.label }} : {{ form.partner }}
                        </div>

                        <div class="form-group">
                            {{ form.programme.label }} : {{ form.programme }}
                        </div>

                        <div class="form-group">
                            {{ form.topic.label }} : {{ form.topic }}
                        </div>

                        <div class="form-group">
                            {{ form.priority.label }} : {{ form.priority }}
                        </div>

                        <div class="form-group">
                            {{ form.agent.label }} : {{ form.agent }}
                        </div>

                        <div class="form-group">
                            {{ form.details.label }} : {{ form.details }}
                        </div>


                        {{ form.csrf_token }}
                        {{ form.submit }}

                    </form>
                </div>
            </div>
        </div>
{% endblock %}
