<!-- extend from base layout -->
{% extends "layout.html" %}

{% block my_content%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group status_message">
                {{ messages[0] }}
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-12">
        <div class="form-group status_message">
            <table class="tickets">
            </table>
        </div>
    </div>
</div>
{% endblock %}
