<!-- extend from base layout -->
{% extends "base.html" %}


{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid nav_custom">
            <div class="nav_username">
                Welcome {{ user_details.firstname }}
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"> Home </a></li>
                    <li><a href="{{ url_for('create_ticket') }}"> Create a ticket </a></li>
                    <li><a href="#">View tickets</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        {% block my_content%}
            <!-- put stuff here -->
        {% endblock %}
    </div>
{% endblock %}
