{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
{% endblock %}

{% block my_content%}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="loginbox">
                    <form action="/validate_login" method="post">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% for category, message in messages %}
                                {% if category == "error" %}
                                    {% set msg_class = "alert-danger"%}
                                {% else %}
                                    {% set msg_class = "alert-success"%}
                                {% endif %}
                                <div class="alert {{ msg_class }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endwith %}
                        <div class="form-group">
                            {{ form.username.label }} : {{ form.username }}
                        </div>

                        <div class="form-group">
                            {{ form.password.label }} : {{ form.password }}
                        </div>

                        {{ form.csrf_token }}
                        {{ form.submit }}

                    </form>
                </div>
            </div>
        </div>
{% endblock %}
