<!-- extend from base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block my_content%}
            <div class="loginbox">
                {% if error %}
                  <div>
                      {{errror}}
                  </div>
                {% endif%}
                <form action="/validateLogin" method="post">
                    <div>
                        {{ form.username }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    {{ form.csrf_token }}
                    <div>
                        <input type="submit" value="log in">
                    </div>
                </form>
            </div>
{% endblock %}
