<!-- extend from base layout -->
{% extends "create_ticket.html" %}

{% block my_content%}
{% with messages = get_flashed_messages() %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 flash-massages">
            <div class="form-group status_message">
            {% if messages %}
                {{ messages[0] }}
            {% endif %}
            </div>
        </div>
    </div>
{% endwith %}

    <div class="row">
        <div class="col-md-12">
            <div class="ticket">
                <form name="update-ticket" id="update-ticket" method="post">
                    <div class="form-group">
                        {{ form.update_type.label }} : {{ form.update_type }}
                    </div>
                    <div class="form-group hide" id="update">
                        {{ form.update_details.label }} : {{ form.update_details }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
